<h2>プロフィール編集</h2>
  <% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーが発生しました
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>


<%= form_with model: @user do |f| %>

 <label for = "inputName">Name</label>
 <%= f.text_field :name, autofocus: true, id:"inputName", placeholder: "名前" %><br>
 
 <label for = "inputLicense">所持免許</label>
 <%= f.text_field :license, autofocus: true, id:"inputLicense", placeholder: "例　大型自動二輪" %><br>
 
 <label for = "inputFavoriteManufacuture">好きなメーカー</label>
 <%= f.text_field :favorite_manufacture, autofocus: true, id:"inputFavoriteManufacuture", placeholder: "HONDA" %><br>
 
 <label for = "inputFavoriteMotorcycle">好きな車種</label>
 <%= f.text_field :favorite_motorcycle, autofocus: true, id:"inputFavoriteMotorcycle", placeholder: "CBR250RR" %><br>
 
 <label for = "inputYourMotorcycle">お持ちのバイク</label>
 <%= f.text_field :your_motorcycle, autofocus: true, id:"inputYourMotorcycle", placeholder: "レヴル1100" %><br>
 
 <label for = "inputYourArea">お住いの地域</label>
 <%= f.text_field :your_area, autofocus: true, id:"inputYourArea", placeholder: "例　大阪" %><br>
 
 <label for = "inputHaveBeenRiding">バイク歴</label>
 <%= f.text_field :have_been_riding, autofocus: true, id:"inputHaveBeenRiding", placeholder: "例　" %><br>
 
 
 <label for = "inputETC">ETC装備</label>
 <%= f.text_field :etc, autofocus: true, id:"inputETC", placeholder: "例　あり" %><br>
 
 <label for = "inputSex">性別</label>
 <%= f.text_field :sex, autofocus: true, id:"inputSex", placeholder: "例　男" %><br>

 <label for = "inputImage">ProfileImage</label>
 <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %><br>
 <%= f.submit "変更を保存" %>

<% end%>