<!--ユーザーの詳細 -->
<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-md-3 pr-1">
      <table class="table">
        <tr>
        <td><%= image_tag @user.get_profile_image(100,100) %></td>
        <td></td>
        </tr>
        <tr><th><h5>名前<br><%= @user.name %></h5></th></tr>
        <tr><th><h5>所持免許<br><%= @user.license %></h5></th></tr>
        <tr><th><h5>好きなメーカー<br><%= @user.favorite_manufacture %></h5></th></tr>
        <tr><th><h5>好きな車種<br><%= @user.favorite_motorcycle  %></h5></th></tr>
        <tr><th><h5>お持ちのバイク<br><%= @user.your_motorcycle %></h5></th></tr>
        <tr><th><h5>お住いの地域<br <%= @user.your_area %></h5></th></tr>
        <tr><th><h5>バイク歴<br><%= @user.have_been_riding %></h5></th></tr>
        <tr><th><h5>ETC<br><%= @user.etc %></h5></th></tr>
        <tr><th><h5>性別<br><%= @user.sex %></h5></th></tr>
        <tr><th>follows</th><th><%= link_to @user.followings.count, user_followings_path(@user) %></th></tr>
        <tr><th>followers</th><th><%= link_to @user.followers.count, user_followers_path(@user) %></th></tr>
        <td><%= render "relationships/btn", user: @user %></td>
      </table>
      
      <% if @user.name != "guestuser" %>
      <div class='row'>
        <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
      </div>
      <% end %>
    
    </div>

    <!-- ユーザーが投稿した写真の一覧 -->
    <div class="col-md-8 offset-md-1">
      <div class="card-list-container py-5">
        <h3>自慢の一枚達</h3>

         <% @post_images.each do |post_image| %>
           <div class="card w-50 mx-auto mt-4 shadow-lg">
             <%= link_to post_image_path(post_image.id) do %>
               <%= image_tag post_image.get_image,class:"card-img-top"; %>
             <% end %>
             <p class:"card-text">投稿者の一言 : <%= post_image.caption %></p>
             <% if post_image.favorited_by?(current_user) %>
               <p>
                 <%= link_to post_image_favorites_path(post_image), method: :delete do %>
                   ♥<%= post_image.favorites.count %> いいね
                 <% end %>
               </p>
             <% else %>
               <p>
                 <%= link_to post_image_favorites_path(post_image), method: :post do %>
                   ♡<%= post_image.favorites.count %> いいね
                 <% end %>
               </p>
             <% end %>
         　 </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= paginate @post_images %>