<div>
  
  <%= image_tag @post_image.get_image %>
  <p>投稿者       : <%= image_tag @post_image.user.get_profile_image(100,100) %></p>
  <p>投稿者の一言 : <%= @post_image.caption %></p>
  <p>名前         : <%= @post_image.user.name %></p>
  <p>投稿日       : <%= @post_image.created_at.strftime('%y/%m/%d') %></p>
  
  <% if @post_image.user == current_user %>   
   <%= link_to "削除", post_image_path(@post_image), method: :delete %>
  <% end %>
</div>